<ion-header>
  <ion-toolbar>
    <ion-title>
      Status das máquinas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h5>Máquinas operando</h5>
    </ion-list-header>
    

    <ion-card *ngFor="let item of devices">
        <ion-item color="light">
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Placa #{{item.deviceId}}</ion-label>
        </ion-item>
      
        <ion-card-content>
          <ion-list>
              <ion-item *ngFor="let pin of item.devicePins">
                  <ion-label>                      
                      <ion-badge class="pin-badge" slot="end" color="primary">Pin: {{pin.id}} {{pin.status}} </ion-badge> 
                      <span class="pin-name"> {{pin.description}}</span>
                    </ion-label>
                    <ion-note slot="end" color="primary">
                      <ion-badge color="tertiary">{{pin.count}}</ion-badge>
                    </ion-note>                
              </ion-item>              
          </ion-list>
          <ion-item color="secundary">
              <ion-badge class="device-status" slot="end" color="success">Contando</ion-badge>         
          </ion-item>          
        </ion-card-content>
      </ion-card>
<!--       
    <div></div>
    <ion-item detail="true" (click)="showDetail(item);" *ngFor="let item of devices">
      <ion-label>
        {{item.deviceId}} 
        <ion-badge slot="end" color="success">Contando</ion-badge>
      </ion-label>
      <ion-note slot="end" color="primary">
        <ion-badge color="tertiary">{{item.count}}</ion-badge>
      </ion-note>
    </ion-item>

    <ion-item detail="true">
      <ion-label>
          Maq 3 
          <ion-badge slot="end" color="warning">Almoço</ion-badge>        
      </ion-label>
      <ion-note slot="end" color="primary">
        <ion-badge color="tertiary">36</ion-badge>
      </ion-note>
    </ion-item> -->

  </ion-list>


  <!--
  <ion-list>
    <ion-list-header>
      <h5>Máquinas paradas</h5>
    </ion-list-header>
    <ion-card color="light">
        <ion-item color="dark">
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>Placa #Maquina 3</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-item color="light">
              <ion-badge class="device-status" slot="end" color="warning">Almoço</ion-badge>         
          </ion-item>          
        </ion-card-content>
      </ion-card>

    <ion-item detail="true">
      <ion-label>Maq 5</ion-label>
      <ion-note slot="end" color="tertiary">
        <ion-badge color="danger">36</ion-badge>
      </ion-note>
    </ion-item>
  </ion-list>  -->
</ion-content>
